<HTML>
	<HEAD>
		<SCRIPT type="text/javascript">
			var nowRoom, joinBlock = false;
			function getRequestObject(){
				var request = false;
				if(window.XMLHttpRequest){
					request = new XMLHttpRequest();
				}
				else{
					request = new ActiveXObject("Microsoft.XMLHTTP");
				}
				return request;
			}
			function send(request, method, url, flg, msg){
				var time = new Date();
				request.open(method, url + '?time=' + time.getTime(), flg);
				if(method == 'POST'){
					request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
				}
				request.send(msg);
			}
			function sendMsg(){
				var req = getRequestObject();
				if(!req) return false;
				var ob = document.getElementById("zzz");
				var val = 'text=' + encodeURIComponent(ob.value) + '&room=' + encodeURIComponent(nowRoom);
				ob.value = '';
				send(req, 'POST', '/chat/sendMessage', true, val);
				return false;
			}
			function show(){
				var ob = getRequestObject();
				if(!ob) alert('q');
				else{
					ob.onreadystatechange = function(){
						if(ob.readyState == 4){
							if(ob.status == 200){
								document.getElementById("qqq").innerHTML = ob.responseText;
							}
						}
					}
					send(ob, 'POST', '/chat/getMessage', false, 'room=' + encodeURIComponent(nowRoom));
				}
			}
			function showLoop(){
				if(!joinBlock) show();
				setTimeout('showLoop()', 4000);
			}
			function joinRoom(roomname){
				var req = getRequestObject();
				if(!req) return false;
				joinBlock = true;
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						if(req.responseText == "AC"){
							nowRoom = roomname;
							joinBlock = false;
						}
						else alert(req.responseText);
					}
				}
				send(req, 'POST', '/chat/joinRoom', true, 'room=' + encodeURIComponent(roomname));
			}
			function initial(){
				joinRoom('lobby');
				showLoop();
			}
			function numUser(){
				var req = getRequestObject();
				if(!req) return false;
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						alert(req.responseText);
					}
				}
				send(req, 'POST', '/chat/getNumberOfUser', true, null);
			}
			function roomList(){
				var req = getRequestObject();
				if(!req) return false;
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						alert(req.responseText);
					}
				}
				send(req, 'POST', '/chat/getRoomList', true, null);
			}
			function createRoom(){
				var req = getRequestObject();
				if(!req) return false;
				var ob = document.getElementById('qqqqq');
				var msg = 'room=' + encodeURIComponent(ob.value);
				ob.value = '';
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						alert(req.responseText);
					}
				}
				send(req, 'POST', '/chat/createRoom', true, msg);
			}
			function joinRoom2(){
				var ob = document.getElementById('qqqqqq');
				joinRoom(ob.value);
				ob.value = '';
			}
			function userList(){
				var req = getRequestObject();
				if(!req) return false;
				var ob = document.getElementById('qqqqqqq');
				var msg = 'room=' + encodeURIComponent(ob.value);
				ob.value = '';
				req.onreadystatechange = function(){
					if(req.readyState == 4 && req.status == 200){
						alert(req.responseText);
					}
				}
				send(req, 'POST', '/chat/getUserList', true, msg);
			}
		</SCRIPT>
	</HEAD>
	<BODY onload="initial()">
		<DIV id="qqq"></DIV>
		<TEXTAREA id="zzz"></TEXTAREA>
		<BUTTON onclick="sendMsg();">send</BUTTON>
		<BUTTON onclick="numUser();">numUser</BUTTON>
		<BUTTON onclick="roomList();">roomList</BUTTON>
		<input type='text' id='qqqqq' />
		<BUTTON onclick="createRoom();">createRoom</BUTTON>
		<input type='text' id='qqqqqq' />
		<BUTTON onclick="joinRoom2();">joinRoom</BUTTON>
		<input type='text' id='qqqqqqq' />
		<BUTTON onclick="userList();">userList</BUTTON>
	</BODY>
</HTML>
